# Tokenized binary dataset & cache files
*.bin
shards/
fineweb_tokens.bin
shards_edu/
wandb/
# Model Weights Checkpoints
*.pth
*.pt
*.safetensors
accelerate_checkpoint/
*.tar.gz
*.tar

# Notebooks
*.ipynb
.ipynb_checkpoints/

# Logs & Cache
__pycache__/
*.log
evaluation_results*.json
eval_results.json
gpt2-fineweb-124m/
gpt2-sota-instruct/
