# Tokenized binary dataset & cache files
*.bin
shards/
fineweb_tokens.bin

# Model Weights Checkpoints
*.pth
*.safetensors
*.pt
gpt2-fineweb-124m/
accelerate_checkpoint/

# Logs & Cache
__pycache__/
.ipynb_checkpoints/
*.log

