# Tokenized binary dataset & cache files
*.bin
shards/
fineweb_tokens.bin

# Model Weights Checkpoints
*.pth
*.pt
*.safetensors
accelerate_checkpoint/

# Logs & Cache
__pycache__/
.ipynb_checkpoints/
*.log
evaluation_results*.json
eval_results.json
gpt2-fineweb-124m/
gpt2-sota-instruct/
